@import "core/normalize";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 100vh;
  background: radial-gradient(rgb(1, 1, 75), rgb(0, 0, 0));
}

.layout-header {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/0_Paradise-Skate-World.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  max-width: 250px;
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 2.5rem;
  font-weight: 350;
  color: #e92949;
  text-shadow: -4px -2px 3px rgba(6, 6, 43, 0.877);

  @media all and(min-width: 768px) {
    max-width: 500px;
    font-size: 5.5rem;
    font-weight: 400px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#003, #000);
}
.section-form {
  width: 100%;
  padding: 20px;
  margin: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/skate.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @media all and (min-width: 768px) {
  }
}
.title2 {
  max-width: 250px;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
  word-spacing: 10px;
  color: #003;
  text-shadow: -3px 5px 4px rgba(236, 236, 238, 0.88);
  background-color: transparent;
  @media all and (min-width: 768px) {
    font-size: 4rem;
  }
}
.form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-search {
  height: 35px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-color: #e05f75;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.input-search:focus {
  border-color: rgb(21, 112, 204);
  box-shadow: 0 0 8px 0 rgb(27, 105, 184);
}
.input-search:hover {
  border-color: rgba(243, 14, 174, 0.774);
  box-shadow: 0 0 8px 0 rgb(230, 29, 89);
}
.btn {
  width: 60px;
  height: 60px;
  margin: 8px;
  font-size: 0.75rem;
  font-family: "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  border-radius: 5px;
  border: solid 1.5px #fc549a;
  color: #e92949;
  background: radial-gradient(#003, #000);
  text-transform: uppercase;
  cursor: pointer;
  will-change: transform;
}
.btn1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.3rem;
  color: #e92949;
  background: radial-gradient(#003, #000);
  box-shadow: 0 19px 38px rgba(11, 3, 46, 0.3),
    0 15px 12px rgba(13, 2, 53, 0.733);
  transition: 0.3s ease-in-out;
}
.btn1:hover {
  border: solid 1.5px #3196f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.95);
  color: #3196f5;
}

.section-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5rem;
}
.section-search {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  border-radius: 20px;
  border: solid 2px #e92949;
  color: #56c0d3;
}
.ingredients {
  width: 60px;
  margin: 10px 8px;
  font-size: 0.9rem;
}
.alcoholic {
  max-width: 30px;
  position: absolute;
  left: 80%;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
  text-transform: lowercase;
}
.section-search__list1 {
  list-style: none;
  color: #e92949;
}
.section-fav {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  border-radius: 20px;
  color: rgb(216, 12, 107);
}
.section-fav__list2 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: rgb(216, 12, 107);
}

.section-fav__list2 li {
  width: 100%;
}
.section-fav__list2 li article {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(216, 12, 107);
  text-shadow: rgb(34, 0, 37) 3px 3px 3px;
  background-image: url(../images/galaxy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.favourite article {
  border-radius: 5px;
  color: #56c0d3;
  text-shadow: #003 3px 3px 3px;
  background-color: #f027f78c;
  background: linear-gradient(rgb(64, 8, 87), #f027f78c);
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.hidden {
  font-size: 25px;
  position: relative;
  right: 30px;
  top: 30px;
}
.article {
  position: relative;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 1.2rem;
  border: solid 2px rgba(209, 15, 151, 0.911);
  border-radius: 5px;
  color: #56c0d3;
}
.article h3 {
  margin: 5px 0px 8px 8px;
  max-width: 300px;
}
.container {
  margin-left: 5%;
}
